@import '../main';

.header {
  display: flex;
  justify-content: space-between;
  @include container;

  &-brand {
    font-size: 2rem;
    text-decoration: none;
  }

  &-navbar {
    ul {
      height: 100%;
      @include flex-center;

      li {
        margin: 0 1rem;

        .active {
          color: $primary;
        }

        a {
          text-decoration: none;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

section {

  .picture { 
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .2)), url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px; 
    transition: .6s;
    @include flex-center;


    h4 {
      margin-bottom: 300px;
      font-size: 3rem;
      font-family: 'Pacifico', cursive;
      // color: $text; 
    } 

   
  }
}


.footer {
  @include flex-center;

  span {
    color: $primary;
  }
}