@import '../main';
@import 'header.scss';
@import 'footer.scss';


section {

  .picture { 
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .2)), url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px; 
    transition: .6s;
    @include flex-center;


    h4 { 
      font-size: 3rem;
      font-family: $font-secondary;
      text-align: center;
      animation: fadeIn 3s;
      
      span {
        display: block;
        font-family: $font-secondary; 

      }
 

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
    
        to {
          opacity: 1; 
        }
      }
      
    } 



   
  }
} 