@import 'variables';
@import 'mixins.scss';

* {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $text;

  ul {
    list-style: none;
  }

  a, svg {
    color: $text;
    transition: .4s;
  } 


}

